<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>ggplot2</li>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>TensorFlow</li>
</ol>

| Data Science Tools |
|----------|
|RStudio|
|JupyterLab|
|Watson Studio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**<ul>
  <li>List popular languages for Data Science</li>
  <li>Introduction to R Language</li>
  <li>Introduction to SQL</li>
  <li>Other Languages for Data Science</li>
</ul>

<h2>Author</h2>
Dimitrei Nazi